## Questions in SPARQL
* 1. **city center** most abundant organisms.
* 2. **outside** city center.
* 3. **areas** with least and most diverse species  diversity (Shannon Index).

In [1]:
import csv
import json
from functools import reduce
from tqdm import tqdm

In [2]:
from rdflib import Graph, URIRef, Literal, RDF, ConjunctiveGraph
from rdflib import Namespace
from rdflib import Dataset
from rdflib.namespace import XSD

In [4]:
import pandas as pd
import numpy as np

In [15]:
trees_df = pd.read_csv('../data/madrid/ArboladoParquesHistoricoSingularesForestales_2020.csv', sep = ';')

In [16]:
trees_df.head()

                     PARQUE                 ESPECIE  UNIDADES 2020
0  JARDINES DEL BUEN RETIRO  Aesculus hippocastanum         5951.0
1  JARDINES DEL BUEN RETIRO      Platanus x hybrida          934.0
2  JARDINES DEL BUEN RETIRO     Cercis siliquastrum          720.0
3  JARDINES DEL BUEN RETIRO   Trachycarpus fortunei          532.0
4  JARDINES DEL BUEN RETIRO        Celtis australis          541.0

In [18]:
trees_destrict_df = pd.read_csv('../data/madrid/ArboladoZonasVerdesDistritosCalles_2020.csv', sep = ';')

In [20]:
trees_destrict_df.tail()

    Nombre_distrito  N�_Distrito NOMBRE_ESPECIE  N�_Unidades  Unnamed: 4
278         BARAJAS         21.0   Ulmus pumila        357.0         NaN
279         BARAJAS         21.0          Otros       6602.0         NaN
280             NaN          NaN          Total      16245.0         NaN
281             NaN          NaN            NaN          NaN         NaN
282             NaN          NaN         TOTAL:     648481.0         NaN

In [ ]:
# Generate RDF from the YARRRML mappings (output in output/ folder)
# !./run_rmlmapper.sh mapping-esgreen.yarrr.yml

In [21]:
# Define graph 'g' and namespaces for RDF conversion using semanticscience Integrated Ontology
BASE= Namespace('https://bioportal.bioontology.org/ontologies/SIO/#')
FOOD_P= Namespace('http://www.w3id.org/foodb/property/')
dataset = Dataset()
columns = usda_ingr_df.columns
for (index, series) in usda_ingr_df.iterrows():
    ing_no= str(series['NDB_No'])
    quantity = float(series['GmWt_1'])
    for i, row in datadict_df.iterrows():
        pos = row['Position']
        id_ = row['Identifier']
        uri = id_.replace('https://bioportal.bioontology.org/ontologies/SIO/#','https://w3id.org/foodkg/quality/high_')
        rdv = float(row['RDV'])
        
        col = columns[pos-1]
        #print (pos,col)
        if col in ['GmWt_1','GmWt_2','GmWt_Desc1','GmWt_Desc2','Shrt_Desc']:
            continue
        value = float(series[pos-1])
        if value  == 0.0 or str(value) == 'nan' or rdv ==0: continue
        portion_value = quantity*value/100
        if portion_value > rdv/3:
            dataset.add((BASE[ing_no],FOOD_P['hasQuality'], URIRef(uri)))

NameError: name 'usda_ingr_df' is not defined