## Questions in SPARQL
* 1. **city center** most abundant organisms.
* 2. **outside** city center.
* 3. **areas** with least and most diverse species  diversity (Shannon Index).

In [2]:
import csv
import json
from functools import reduce
from tqdm import tqdm

In [2]:
from rdflib import Graph, URIRef, Literal, RDF, ConjunctiveGraph
from rdflib import Namespace
from rdflib import Dataset
from rdflib.namespace import XSD

In [3]:
import pandas as pd
import numpy as np

## ArboladoParquesHistoricoSingularesForestales_2020

In [14]:
df_1 = pd.read_csv('../etl/data/inputs/ArboladoParquesHistoricoSingularesForestales_2020.csv', sep = ';')

In [20]:
import mitosheet
mitosheet.sheet()

MitoWidget(analysis_data_json='{"analysisName": "UUID-3a4ebeb8-321e-4527-b3b9-e61eac5f9bf7", "code": {"imports…

In [9]:
df_1

,PARQUE,ESPECIE,UNIDADES 2020
0,JARDINES DEL BUEN RETIRO,Aesculus hippocastanum,5951.0
1,JARDINES DEL BUEN RETIRO,Platanus x hybrida,934.0
2,JARDINES DEL BUEN RETIRO,Cercis siliquastrum,720.0
3,JARDINES DEL BUEN RETIRO,Trachycarpus fortunei,532.0
4,JARDINES DEL BUEN RETIRO,Celtis australis,541.0
...,...,...,...
200,NaN,Total:,692995.0
201,NaN,NaN,NaN
202,NaN,TOTAL GENERAL,806730.0
203,NaN,NaN,NaN
204,(1) El n�mero de arboles de cada especie seg�n...,NaN,NaN

In [17]:
import unicodedata
def strip_accents(text):

    try:
        text = unicode(text, 'utf-8')
    except NameError: # unicode is a default on python 3 
        pass

    text = unicodedata.normalize('NFD', text)\
           .encode('ascii', 'ignore')\
           .decode("utf-8")
    return str(text)


for index, row in df_1.iterrows():
    df_2 = strip_accents(df_1)

print(df_2)

TypeError: normalize() argument 2 must be str, not DataFrame

* Expected triples:
```rdf
# ArboladoParquesHistoricosSingularesyForestalesYYYY.csv
######## Turtle syntax ########
:Jardines-del-buen-retiro rdf:type :Park .
Park sio: isLocatedIn District .
:Jardines-del-buen-retiro sio:contains :collection-of-aesculus-hippocastanum .
:collection-of-aesculus-hippocastanum a sio:Collection .
:collection-of-aesculus-hippocastanum sio:hasMember :aesculus-hippocastanum .
:aesculus-hippocastanum a :habitatSpecies.
:aesculus-hippocastanum sio: has-unique-indentifier :EUNIS-code .
:EUNIS-Code sio:has-value "G3.74" .
:collection-of-aesculus-hippocastanum sio:has-attribute :ah_count .
:cph_count a sio:memberCount .
:cph_count sio:has-value "6377"
```

## ArboladoZonasVerdesDistritosCalles_2020

In [1]:
df_2 = pd.read_csv('../data/inputs/ArboladoZonasVerdesDistritosCalles_2020.csv', sep = ';')

NameError: name 'pd' is not defined

In [8]:
df_2.head()

,Nombre_distrito,N�_Distrito,NOMBRE_ESPECIE,N�_Unidades,Unnamed: 4
0,Centro,1.0,Ligustrum�japonicum�'variegata',2641.0,NaN
1,Centro,1.0,Sophora japonica,1577.0,NaN
2,Centro,1.0,Platanus x hybrida,1432.0,NaN
3,Centro,1.0,Aesculus hippocastanum,510.0,NaN
4,Centro,1.0,Ulmus pumila,369.0,NaN

In [ ]:
## Estado_arbolado_ParquesHistoricoSingularesForestales_YYYY

## RDFification with RML Mapper

In [ ]:
# Generate RDF from the YARRRML mappings (output in output/ folder)
# !./run_rmlmapper.sh mapping-esgreen.yarrr.yml

In [21]:
# Define graph 'g' and namespaces for RDF conversion using semanticscience Integrated Ontology
BASE= Namespace('https://bioportal.bioontology.org/ontologies/SIO/#')
FOOD_P= Namespace('http://www.w3id.org/foodb/property/')
dataset = Dataset()
columns = usda_ingr_df.columns
for (index, series) in usda_ingr_df.iterrows():
    ing_no= str(series['NDB_No'])
    quantity = float(series['GmWt_1'])
    for i, row in datadict_df.iterrows():
        pos = row['Position']
        id_ = row['Identifier']
        uri = id_.replace('https://bioportal.bioontology.org/ontologies/SIO/#','https://w3id.org/foodkg/quality/high_')
        rdv = float(row['RDV'])
        
        col = columns[pos-1]
        #print (pos,col)
        if col in ['GmWt_1','GmWt_2','GmWt_Desc1','GmWt_Desc2','Shrt_Desc']:
            continue
        value = float(series[pos-1])
        if value  == 0.0 or str(value) == 'nan' or rdv ==0: continue
        portion_value = quantity*value/100
        if portion_value > rdv/3:
            dataset.add((BASE[ing_no],FOOD_P['hasQuality'], URIRef(uri)))

NameError: name 'usda_ingr_df' is not defined